@font-face {
    font-family: "chapeau";
    src: url(//d1y94doel0eh42.cloudfront.net/content/fonts/chapeauweb-regular.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "chapeau";
    src: url(//d1y94doel0eh42.cloudfront.net/content/fonts/chapeauweb-bold.woff) format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "chapeau";
    src: url(//d1y94doel0eh42.cloudfront.net/content/fonts/chapeauweb-light.woff) format("woff");
    font-weight: lighter;
}

html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden !important;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
}

body h1,
body h2,
body h3,
body h4 {
    margin: 0px;
    font-family: "chapeau";
    letter-spacing: 1px;
}

body h2 {
    font-size: 47px;
    font-weight: lighter;
    color: #103070;
    margin-bottom: 15px;
    letter-spacing: 2px !important;
}

body h3 {
    font-size: 23px;
    font-weight: bold;
}

body p {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    line-height: 25px;
    word-wrap: break-word;
}

body hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

body .vpad-xl {
    padding: 20px 0;
}

body .vpad-lg {
    padding: 15px 0;
}

body .vpad-sm {
    padding: 5px 0;
}

body img, body a, body button {
    outline: none !important;
}

body a {
    color: #b8284c;
    text-decoration: none !important;
}

#repayment-content {
    max-width: 89%;
    margin: auto;
}

#repayment-content p {
    padding: 8px;
}

.calculator-container {
    padding-top: 25px;
    text-align: center;
}


.calculator-container.mobile h2 {
    font-size: 75px;
    font-weight: lighter;
    color: #103070;
    margin-bottom: 15px;
    letter-spacing: 2px;
    /* width: 50px; */
    display: inline-grid;
    /* margin-left: 0%; */
}

.calculator-container.mobile h3 {
    font-size: 40px;
    font-weight: bold;
}

.calculator-container.mobile input[type="text"] {
    font-size: 35px;
}

.calculator-container.mobile .select-element select {
    font-size: 35px;
}
.show-small {
    display: none !important;
}

.select-element {
    display: inline-block;
    position: relative;
    width: 95%;
}

.select-element:before {
    font-family: "skye-icons";
    letter-spacing: 0px;
    position: absolute;
    content: "e";
    font-size: 30px;
    color: #b8284c;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 5px;
    top: 5px;
}

.select-element select {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #666;
    position: relative;
    z-index: 100;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    padding: 10px;
    width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0px 1px 2px rgba(51, 51, 51, 0.1);
    border-radius: 0px;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    padding: 10px;
}

.exact-amount-container input {
    width: 95%;
}

button {
    -webkit-appearance: button;
}

.button {
    background: #b8284c;
    background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: linear-gradient(to right, #b8284c 0%, #103070 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    font-family: "chapeau";
    letter-spacing: 1px;
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
    border: 1.5px solid #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    outline: none !important;
    cursor: pointer;
}

.button.static {
    padding: 17px 32px;
    border: none !important;
}

.button.borderless {
    box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.2);
    display: inline;
    border: none !important;
}

#results .back a {
    padding-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #b8284c !important;
    display: inline-block;
    position: relative;
}

#results .back a:before {
    font-family: "skye-icons";
    letter-spacing: 0px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    content: 'f';
    position: absolute;
    left: -5px;
    top: -2px;
}

#results .results {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

#results .results li.block {
    flex: 1;
}

#results .results li {
    font-family: "chapeau";
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "skye-icons";
    src: url(//d1y94doel0eh42.cloudfront.net/content/fonts/skye-icons.eot);
    src: url(//d1y94doel0eh42.cloudfront.net/content/fonts/skye-icons.eot#iefix) format("embedded-opentype"), url(//d1y94doel0eh42.cloudfront.net/content/fonts/skye-icons.woff) format("woff"), url(//d1y94doel0eh42.cloudfront.net/content/fonts/skye-icons.ttf) format("truetype"), url(//d1y94doel0eh42.cloudfront.net/content/fonts/skye-icons.svg#skye-icons) format("svg");
    font-weight: normal;
    font-style: normal;
}

.mobile button#btn {    
    width: 90%;
    font-size: 30px;
}

#results .mobile #button {
    width: 90%;
    font-size: 30px;
    display: block;
    margin-left: 1%;

}
.back.mobile {
    font-size: 30px;
}

#results .back.mobile a:before {
    font-size: 30px;
}

.calculator-container.mobile {
    font-size: 25px;
}

.footnotes {
    font-size: 12px !important;
    line-height: 19px !important;
}

#weekly-amount, #monthly-amount {
    font-weight: bold;
}

@media screen and (max-width: 576px){
    body h2 {
        font-size: 27px;
    }

    .calculator-container p {
        font-size: 14px;
        line-height: 20px;
    }

    body hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footnotes {
        font-size: 10px !important;
        line-height: 15px !important;
    }

    #weekly-amount, #monthly-amount {
        font-size: 25px;
    }
}

#repayment-results {
    max-width: 89%;
    margin: auto;
}

.calculator-container.inpage #repayment-results #controls {
    margin-top: 39px;
    margin-bottom: 39px;
}

.calculator-container.inpage .exact-amount-container input {
    width: 73%;
}

.calculator-container.inpage #select-element {
    width: 73%;
}