@font-face {
    font-family: "chapeau";
    src: url(../fonts/chapeauweb-regular.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "chapeau";
    src: url(../fonts/chapeauweb-bold.woff) format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "chapeau";
    src: url(../fonts/chapeauweb-light.woff) format("woff");
    font-weight: lighter;
}

body {
    font-family: "chapeau";
    letter-spacing: 1px;
    color: #333333;
}

#hero {
    background: #b8284c;
    background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: linear-gradient(to right, #b8284c 0%, #103070 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);       
}

@media screen and (-ms-high-contrast:active),
screen and (-ms-high-contrast:none) {
    #hero {
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {
    #hero {
        min-height: 150px;
        height: auto;
    }
    #hero .hero-wrapper {
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }
    #hero .hero-wrapper .hero-image {
        max-width: 100%;
    }
    
    #hero .hero-wrapper .hero-image {
        margin-bottom: 30px;
    } 
    
}

@media screen and (max-width: 800px){
    .hero-image {
        display: none;
    }
    
    #block-pagetitle {
        margin-left: 0px;
    }

    .button.borderless {
        padding: 10px 25px;
        font-size: small;
    }

    #block-pagetitle img.img-fluid.pagetitle {
        display: block;
    }
    /*.direction-column-large {
    width: 100%;
    font-size: larger;
    }*/

}

.img-fluid.pagetitle {
    display: none;
}

#hero .hero-wrapper {
    justify-content: space-between;   
    color: #fff;
}

#hero .hero-wrapper .hero-image {
    max-width: 60%;
    padding-bottom: 25%;
    padding-left: 15%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.container.extra-padding {
    padding: 80px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1264px;
}

.row.extra-padding {
    margin-top: 50px;
}

@media screen and (max-width:480px) {
    .row.extra-padding {
        margin-top: 0px;
    }    
}

.column {
    flex: 1 0 0;    
    padding: 0 40px;
}

#block-pagetitle {
    text-align: left;
    margin-right: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.feature {
    max-width: 300px;
}

.feature img {
    max-width: 70%;
    max-height: 25%;
}

a.button {
	text-decoration: none;
}

.button {
    background: #b8284c;
    background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: linear-gradient(to right, #b8284c 0%, #103070 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    font-family: "chapeau";
    letter-spacing: 1px;
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    text-align: center;    
    border: 1.5px solid #fff;
    /*font-size: 14px;*/
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.button.strong {
    font-weight: bold;
    padding: 15px 30px;
}

.button.static:hover {
    background: #b8284c;
    background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
    background: linear-gradient(to right, #b8284c 0%, #103070 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
    cursor: pointer;
    border: 1.5px solid #fff;
    /*color: #fff;*/
    color: #b8284c;
}

.button.not-active {
    background: #fff !important;
    color: #b8284c;
}

.button.not-active,
.button:hover,
.button:focus,
.button:active {
    color: #b8284c;
    border: 1.5px solid #b8284c;
    background: #fff;
}

.button.borderless {
    box-shadow: 0px 2px 5px rgba(51,51,51,0.2);   
    border: none !important;
}

@media screen and (max-width:576px) {
    .button:hover,
    .button:focus,
    .button:active {
        background: #b8284c;
        background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
        background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
        background: linear-gradient(to right, #b8284c 0%, #103070 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
        /*color: #fff;*/
        color: #b8284c;
        border: 1.5px solid #fff;
    }

    body h2 {
        font-size: 27px;
    }

    .column.feature p {
        font-size: 14px;
        line-height: 20px;
    }
}

.mobile {
    display: block;
    max-width: 100%;
    max-height: 350px;
}

.column.feature.mobile img {
    width: 200px;
    max-height: 100%;
}

.column.feature.mobile {    
    padding-bottom: 85px;    
}

.column.feature.mobile p {
    max-width: 500px;   
    margin: auto;
}

.row.extra-padding.mobile {
    margin-top: 0px;
}

.mobile .button {
    margin-bottom: 10px;
    width: 500px;
}

#modal-wrapper {
    padding-top: 15px;
}
